// main colors
$main-first-color: #E51D24;
$main-second-color: green;
$main-third-color: blue;

// colors
$title-color: #000;
$text-color: #000;
$input-placeholder-color: #aaa;

// fonts
$font-family-base: 'Roboto', sans-serif;
$font-family-custom: 'Playfair Display', serif;

// font-size
$font-size-default: 16px;
$line-height-base: 1.25;

// behavior
$transition-base: all .3s ease 0s;
