/*************************************************
********************* FOOTER *********************
*************************************************/
.footer {
  order: 3;
  -webkit-order: 3;
  position: relative;
  height: 40px;
  color: #fff;
  background: #000;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1790px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    display: block;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 300;
  }
}
