/*************************************************
********************* HEADER *********************
*************************************************/

.header {
  order: 1;
  -webkit-order: 1;
  position: relative;
  min-width: 320px;
  width: 100%;
  z-index: 100;
  color: #fff;
  padding: 71px 0 79px;
  height: 975px;
  background: linear-gradient(180.29deg, #010101 1.42%, rgba(1, 1, 1, 0.753339) 32.5%, rgba(1, 1, 1, 0.551995) 69.38%, rgba(1, 1, 1, 0) 99.75%), url('./../img/header_bg.jpg');

    &__video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: -1;
    }

  &__container {
    max-width: 1750px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 51px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &-menu {
    &__left {
      margin: 11px -23px;
    }

    &__right {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__link {
      font-family:$font-family-base;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFF;
      text-decoration: none;
      margin: 0 23px;

      &.invert-link {
        color: $main-first-color;

        &:hover {
          color: #fff;
        }
      }

      &:hover {
        color: $main-first-color;
      }
    }
  }

  &__headline {
    margin: 70px auto 0;
    display: block;
    text-align: center;
    max-width: 700px;
  }

  &__title {
    font-family: $font-family-custom;
    font-weight: 900;
    font-size: 68px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 31px;

    span {
      font-size: 115px;
      line-height: 1.20;
      letter-spacing: 6px;
    }
  }

  &__subtitle {
    font-family:$font-family-base;
    font-weight: 300;
    font-size: 28px;
    line-height: 1.55;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
