.socmedia {
  display: flex;

  &-item {
    width: 48px;
    height: 48px;
    background: linear-gradient(135deg, #E51D24 0%, #87181A 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    border: 0;
    padding: 0;

    &:hover {
      box-shadow: 0 10px 30px rgba(229, 29, 36, 0.7);
      cursor: pointer;
    }
  }
}

.call-center {
  width: 80px;
  height: 80px;
  position: fixed;
  z-index: 101;

  @media(min-width: 1921px) {
    right: calc(50% - 960px);
    bottom: 80px;
  }

  @media(max-width: 1920px) {
    right: 98px;
    bottom: 80px;
  }

  @media(max-width: 1650px) {
    right: 142px;
    bottom: 40px;
  }

  @media(max-width: 1136px) {
    right: 15px;
    bottom: 30px;
  }

  @media(max-width: 768px) {
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 10px;

    img {
      width: 30px;
      height: 30px;
    }
  }

}

.video-play {
  position: absolute;
  left: 90px;
  bottom: 80px;

  @media(max-width: 1650px) {
    left: 140px;
    bottom: 40px;
  }

  @media(max-width: 1365px) {
    display: none;
  }

  &.pausing {
    .play {
      display: block;
    }

    .pause {
      display: none;
    }
  }

  &.playing {
    .play {
      display: none;
    }

    .pause {
      display: block;
    }
  }
}

span {
  color: $main-first-color
}