/* Фактическая временная шкала (вертикальная линейка) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  @media(max-width: 1200px) {
    max-width: 600px;
    width: 100%;
  }

  &::after { /* Фактическая временная шкала (вертикальная линейка) */
    content: '';
    position: absolute;
    background-color: $main-first-color;
    top: 25px;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 340px;

    @media(max-width: 1200px) {
      display: none;
    }
  }


  &-container {   /* Контейнер вокруг содержимого */
    position: relative;
    background-color: inherit;
    width: 50%;

    @media(max-width: 1200px) {
      width: 100%;
    }

    &::after { /* Круги на временной шкале */
      content: '';
      position: absolute;
      width: 11px;
      height: 11px;
      background: $main-first-color;
      z-index: 1;
      right: -88px;
      top: 13px;
    }
  }

  &-content { /* Фактическое содержание */
    position: relative;
  }

}

/* Поместите контейнер слева */
.left {
  left: 0;
  text-align: right;

  @media(max-width: 1200px) {
    left: 0;
    margin: 0 auto 40px;
    text-align: center;

  }

  &::after {
    left: -86px;

    @media(max-width: 1200px) {
      display: none;
    }

  }
}

/* Place the container to the right */
.right {
  left: 50%;
  text-align: left;
  margin-top: -10px;
  margin-left: 81px;
  margin-bottom: 24px;

  @media(max-width: 1200px) {
    left: 0;
    margin: 0 auto 40px;
    text-align: center;
  }

  &::after {
    left: -86px;

    @media(max-width: 1200px) {
      display: none;
    }
  }
}

.center {
  text-align: center;
  margin: 98px auto;
  max-width: 650px;

  p {
    margin-bottom: -0.2em;
  }

  &::after {
    left: 50%;
    top: -28px;
    right: unset;
    margin-left: -5px;
  }
}

